@if (isAuthenticated) {
<div class="sideBarContainer">
    <mat-sidenav-container class="fixed-sidenav">
        <mat-sidenav opened mode="side">
            <app-fixed-side-bar
                (menuItemClicked)="sidenav.onMenuItemChange($event);extendSidebar();"></app-fixed-side-bar>
        </mat-sidenav>
    </mat-sidenav-container>
    <mat-sidenav-container class="extended-sidenav">
        <mat-sidenav opened mode="side" [style.width]="sidenavWidth()">
            <app-sidenav [collapsed]="collapsed()" #sidenav></app-sidenav>
        </mat-sidenav>
        <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
    <button (click)="collapsed.set(!collapsed())" [style.left]="sidenavWidth()=='300px'?'374px':'74px'"
        class="toggle-sidenav-button" disableRipple>
        <mat-icon>{{collapsed()?'navigate_next': 'navigate_before'}}</mat-icon>
    </button>
</div>
}@else {
<router-outlet></router-outlet>
}